@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");

.hero {
  background: #f2f2f2;
}
.container {
  padding: 0px 80px 45px 80px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  margin-bottom: 48px;
  padding-bottom: 0;
}

h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #111517;
}

.dark-mode {
  display: flex;
  align-items: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #111517;
  column-gap: 8px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -24px;
}
.search {
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  width: 160px;
  margin-bottom: 48px;
  padding: 18px 271px 18px 74px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.search input {
  border: none;
}

.filter-drop {
  width: 200px;
  z-index: 70;
}

.filter-label {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #111517;
  display: flex;
  column-gap: 48px;
  margin-bottom: 4px;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  padding: 2px 18px 2px 24px;
}

.continents {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #111517;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  padding-top: 16px;
  padding-left: 24px;
  padding-bottom: 4px;
}

.continents p {
  margin-bottom: -5px;

}

.flag {
  width: 276px;
  height: 160px;
  border-radius: 5px;

}

.description {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #111517;
  margin-left: 30px;
  margin-top: 24px;
}

.description p span {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #111517;
}

h4 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #111517;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  column-gap: 106px;
  z-index: -10;
  margin-top: -130px;
}

.country {
  background: #ffffff;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  margin-bottom: 35px;
  margin-top: 18px;
}
