.back {
  display: flex;
  column-gap: 10px;
  margin-top: 160px;
}

.details-content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 120px;
}
.details-content img {
  width: 560px;
  height: 400px;
  margin-top: 80px;
  object-fit: cover;
  object-position: center;
}

.details-main-info h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: #111517;
  margin-bottom: 28px;
}

.details-main-info {
  height: 323px;
}

.details-info {
  display: flex;
  column-gap: 210px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #111517;
  padding-left: 32px;
}

.details-info span {
  font-weight: 300;
}

.border-wrapper {
  display: flex;
  .label {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    margin-right: 15px;
  }
}

.borders {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  .border {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
    border-radius: 2px;
    padding: 5px 10px;
    min-width: 96px;
    p {
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #111517;
      text-align: center;
      margin: 0;
    }
  }
}
