.hero {
  background: #f2f2f2;
}
.app {
  padding-top: 80px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.search input[type="text"] {
  box-sizing: border-box;
  background: #ffffff;
  background-image: url(../../images/search.svg);
  background-position: 32px 20px;
  background-repeat: no-repeat;
  width: 480px;
  height: 56px;
  padding: 18px 230px 18px 74px;
  border: none;
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 20px;
  color: #c4c4c4;
  text-decoration: none;
  outline: none;
}

.filter-drop {
  width: 200px;
  position: relative;
}

.filter-label {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #111517;
  display: flex;
  column-gap: 48px;
  margin-bottom: -10px;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  padding: 2px 18px 2px 24px;
  cursor: pointer;
}

.continents {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #111517;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  padding: 16px;
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 56px;
  flex-direction: column;
  row-gap: 8px;
  &.show {
    display: flex;
  }
  p{
    margin: 0px;
    cursor: pointer;

  }
}


h4 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #111517;
}

.countries {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 90px;
  // justify-content: space-between;
}

@media (max-width: 820px) {
  .search input[type="text"] {
    font-size: 12px;
    line-height: 20px;
    padding: 14px 153px 14px 74px;

    color: #c4c4c4;

    width: 343px;
    text-decoration: none;
  }
  .filter {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }
  .search {
    margin-top: 24px;
    margin-bottom: 40px;
    width: 6px;
  }
  .filter-drop {
    width: 200px;
    z-index: 70;
  }

  .countries {
    margin-top: -186px;
    justify-content: center;
  }
}
